@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main img{
    top: 10px;
    right: 10px;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;

    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;


}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(53, 52, 52);
    position: relative;
    z-index: 15;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 9px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(184, 177, 177, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    
}



.secImg {
    position: relative;

}

.secImg img {
    width: 420px;
    position: relative;
    z-index: 10;


}

.secImg video {
    position: absolute;
    top: 87px;
    right: 0;
    width: 360px;

}

.secImage{
    position: relative;
}

.secImage img{
    width: 420px;
    position: relative;
    z-index: 10;
}

.secImage video{
    position: absolute;
    top: 80px;
    left:90px;
    width: 250px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 20px;
    
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background: black;
    color: white;
    padding: 34px;
    display:grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.faqbox:hover{

    background-color: rgb(39, 38, 38);
    color: white;
}

.faqbox svg{
    filter:invert(1)
}

.faqbox {
    transition: all 1s ease-out;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 100vw;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
    
}

footer span{
    text-align: center;
    max-width: 60vw;
    margin: auto;
}

.footer a{
    font-size: 14px;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 700px) {
    .btn-red{
        width: 75px;
        height: 50px;
        font-size: 10px;
        padding: 0%;
    }
    .first{
        flex-wrap: wrap;
    }
  }